@import url("_list.css");

.danger, .btn-danger {
  cursor: pointer;
}

form {
  padding: 50px;
}

.table {
  margin: 50px auto;
  width: 80%;
  background-color: #e8edff;
}

.table tr:hover {

  color: #669;
}

.table th{
  font-weight: 400;
}

.table tbody{
  color: dimgrey;
}

#loginForm {
  margin: 100px auto;
  text-align: center;
}
